<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../../libs/vue.js"></script>
    <script>
        /*
                    심플 메모장
                          step #03
                                - 삭제

                          step #02
                                - 추가

                          step #01
                                - 리스트 출력

                          step #00
                                - 레이아웃 제작

                     */
    </script>
</head>

<body>
    <div id="app">
        <div>
                <span>name: <input type="text" class="memo-name" v-model="newMemo" @keydown.enter="addMemo"></span>
                <button class="btn-add-memo" @click="addMemo"> 추가</button>
        </div>
        <div class="list">
            <ul >
                <li v-for="(memo, index) in list" :key="index">name = {{memo}} <button @click="deleteMemo(memo)">삭제</button><button>수정</button></li>
            </ul>
        </div>

        
    </div>

    <script>
        var data = {
            list: ["memo1", "memo2", "memo3"],
            newMemo: ""
        }

        var vm = new Vue({
            el: '#app',
            data: data,
            methods: {
                deleteMemo(targetMemo){
                    let index = this.list.findIndex((memo)=>{
                            return memo==targetMemo;
                    })

                    if(index!=-1){
                            this.list.splice(index,1);
                    }
                },
                addMemo() {
                    if (this.newMemo.length == 0) {
                        alert("값을 입력해주세요.");
                        return;
                    }
                    this.list.push(this.newMemo);
                }
            }
        })
    </script>
</body>

</html>