<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../../libs/vue.js"></script>
    <script>
        /*
                    심플 메모장
                          step #04
                                - 수정
                                - 과제
                          step #03
                                - 삭제

                          step #02
                                - 추가

                          step #01
                                - 리스트 출력
                          step #00
                                - 레이아웃 제작
                     */
    </script>
</head>

<body>
<div id="app">
    <div>
        <p>
            <span>name:<input type="text" class="memo-name" v-model="newMemo" @keydown.enter="addMemo"> </span>
            <template v-if="state=='add'">
                <button class="btn-add-memo" @click="addMemo"> 추가</button>
            </template>
            <template v-if="state=='update'">
                <button class="btn-add-memo" @click="updateMemo" > 적용</button><button class="btn-add-memo" @click="cancel" >취소</button>
            </template>
        </p>
    </div>
    <div class="list">
        <ul >
            <li v-for="(memo,index) in list">name = {{memo}}
                <button @click="deleteMemo(index)">삭제</button>
                <button @click="setEditMode(index, memo)">수정</button>
            </li>
        </ul>
    </div>


</div>

<script>
    const EDIT_MODE = {
        UPDATE: "update",
        ADD: "add"
    }


    var data = {
        list: ["memo1", "memo2", "memo3"],
        newMemo: "",
        state: EDIT_MODE.ADD,
        updateMemoIndex: -1
    }


    var vm = new Vue({
        el: '#app',
        data: data,
        methods: {
            setEditMode(index, targetMemo) {
                this.updateMemoIndex = index;
                this.newMemo = targetMemo;
                this.state = EDIT_MODE.UPDATE;
            },

            clearEditMode() {
                this.updateMemoIndex = -1;
                this.newMemo = "";
                this.state = EDIT_MODE.ADD;
            },

            updateMemo() {
                if (this.state == EDIT_MODE.UPDATE) {
                    // 업데이트
                    this.list[this.updateMemoIndex] = this.newMemo;
                    this.clearEditMode();
                }
            },
            cancel(){
                this.clearEditMode();
            },

            deleteMemo(index) {
                this.list.splice(index, 1);
            },
            addMemo() {
                if (this.newMemo.length == 0) {
                    alert("값을 입력해주세요.");
                    return;
                }
                this.list.push(this.newMemo);
            }
        }
    })
</script>
</body>

</html>